h1{
    color:blueviolet;
    margin-left: 30px;
} 

 .header{
     background-color: bisque;
     display:flex;
     justify-content: space-between;
 }
 .header *{
     border: groove;
 }

 .grid{
     display:flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .footer{
     display:flex;
     justify-content: flex-end;
 }

 body{
     background-color: #000000;
     color: #ffffff;
 }